In [1]:
import pandas as pd
import numpy as np

path = '/Users/xiaoxizhang/Downloads/RefinitivDataProcessor-main/data/lob/NNE.ITC_20240711.csv'
lob = pd.read_csv(path)

In [97]:
lob

,datetime,bids,asks
0,2024-07-11 00:00:00.000000000,NaN,NaN
1,2024-07-11 00:06:06.517461004,NaN,NaN
2,2024-07-11 03:01:38.187471094,NaN,NaN
3,2024-07-11 03:05:32.672937118,NaN,NaN
4,2024-07-11 03:05:33.008461264,NaN,NaN
...,...,...,...
12783,2024-07-11 20:00:01.142997496,"25.51,10,1|25.03,10,1|25.02,10,1|22.27,100,1","26.0,31,2|26.19,10,1|28.5,1000,1|50.0,100,1"
12784,2024-07-11 20:00:01.167886618,NaN,NaN
12785,2024-07-11 20:05:00.222968657,NaN,NaN
12786,2024-07-11 21:31:34.562483775,NaN,NaN
12787,2024-07-11 21:46:33.973447755,NaN,NaN

In [98]:
path = '/Users/xiaoxizhang/Downloads/RefinitivDataProcessor-main/data/trade/NNE.ITC_20240711.csv'
trade = pd.read_csv(path)

In [99]:
trade

,datetime,price,volume,vwap,open,high,low,turnover
0,20240711 05:18:28.507631589,25.50,15,25.5000,NaN,NaN,NaN,382.50
1,20240711 05:18:34.547988916,25.46,4,25.4916,NaN,NaN,NaN,484.34
2,20240711 05:41:13.798261737,25.46,60,25.4676,NaN,NaN,NaN,2011.94
3,20240711 06:13:57.822388767,25.46,29,25.4656,NaN,NaN,NaN,2750.28
4,20240711 06:20:00.077539074,25.30,23,25.4365,NaN,NaN,NaN,3332.18
...,...,...,...,...,...,...,...,...
3861,20240711 17:57:55.297413297,25.55,72,26.8468,26.04,28.39,25.59,7223061.63
3862,20240711 18:09:33.517998117,25.51,10,26.8468,26.04,28.39,25.59,7223316.73
3863,20240711 18:09:33.517998117,25.50,50,26.8465,26.04,28.39,25.59,7224591.73
3864,20240711 18:53:22.543060608,25.79,4,26.8465,26.04,28.39,25.59,7224694.89
3865,20240711 19:50:33.557714299,25.80,1,26.8465,26.04,28.39,25.59,7224720.69

In [100]:
lob = lob.dropna().reset_index(drop=True)
# Extract `bid1` and `ask1`
lob['bid1'] = lob['bids'].apply(lambda x: float(x.split('|')[0].split(',')[0]) if pd.notna(x) else None)
lob['ask1'] = lob['asks'].apply(lambda x: float(x.split('|')[0].split(',')[0]) if pd.notna(x) else None)

In [101]:
# Midpoint Price
lob['MP'] = (lob['bid1'] + lob['ask1']) / 2

In [102]:
# Midpoint Price Change Rate
lob['datetime'] = pd.to_datetime(lob['datetime'])
# Define a function to get the midpoint prices at `t-k`
def get_closest_time(lob, current_time, delta):
    target_time = current_time - delta
    #逻辑是否需要换？
    closest_time = lob['datetime'][lob['datetime'] <= target_time].max()
    if pd.isna(closest_time):
        return None
    else:
        MP_lag = lob[lob['datetime']==closest_time]['MP'].iloc[0]
        return MP_lag

lob['MP_lag_1m'] = lob['datetime'].apply(lambda x: get_closest_time(lob, x, pd.Timedelta('1min'))) 
lob['MP_lag_5m'] = lob['datetime'].apply(lambda x: get_closest_time(lob, x, pd.Timedelta('5min'))) 

# Calculate for 1 minute and 5 minutes
lob['MPC1'] = (lob['MP'] - lob['MP_lag_1m']) / lob['MP_lag_1m']
lob['MPC5'] = (lob['MP'] - lob['MP_lag_5m']) / lob['MP_lag_5m']

print(lob['MPC1'])
print(lob['MPC5'])

0             NaN
1       -0.096457
2        0.000000
3        0.000000
4       -0.009944
           ...
12772    0.000000
12773    0.000000
12774    0.000000
12775    0.000000
12776    0.000000
Name: MPC1, Length: 12777, dtype: float64
0             NaN
1             NaN
2             NaN
3       -0.096457
4       -0.009944
           ...
12772    0.000000
12773    0.000000
12774    0.000000
12775    0.000000
12776    0.000000
Name: MPC5, Length: 12777, dtype: float64

In [103]:
# Skewness of Midpoint Price Change Rate

MPC1_mean = lob['MPC1'].mean()
MPC1_std = lob['MPC1'].std()
lob['MPC1_skew'] = ((lob['MPC1'] - MPC1_mean) / MPC1_std) ** 3
MPC1_skew = lob['MPC1_skew'].mean()

MPC5_mean = lob['MPC5'].mean()
MPC5_std = lob['MPC5'].std()
lob['MPC5_skew'] = ((lob['MPC5'] - MPC5_mean) / MPC5_std) ** 3
MPC5_skew = lob['MPC5_skew'].mean()

print(MPC1_skew)
print(MPC5_skew)

0.9160790470345697
0.8403688156567893

In [104]:
# Maximum Midpoint Price Change

MPC1_max = lob['MPC1'].max()
MPC5_max = lob['MPC5'].max()

print(MPC1_max)
print(MPC5_max)

0.03534303534303543
0.06753508079362228

In [105]:
# Mid-Price Basis

trade['datetime'] = pd.to_datetime(trade['datetime']).dt.floor('T')
trade_grouped = trade.groupby('datetime').agg({'price': 'mean'})
trade_grouped.rename(columns={'price':'avg_TP'}, inplace=True)

lob['datetime'] = pd.to_datetime(lob['datetime']).dt.floor('T')
lob_grouped = lob.groupby('datetime').agg({'MP': 'mean'})
# 计算每分钟的平均交易价格
lob_grouped['avg_MP'] = (lob_grouped['MP'] + lob_grouped['MP'].shift(1)) / 2

merged_trade_lob = pd.merge(trade_grouped, lob_grouped, on='datetime', how='left')
merged_trade_lob['MPB'] = merged_trade_lob['avg_TP'] - merged_trade_lob['avg_MP']

print(merged_trade_lob['MPB'])

datetime
2024-07-11 05:18:00   -0.140000
2024-07-11 05:41:00   -0.110000
2024-07-11 06:13:00   -0.130000
2024-07-11 06:20:00   -0.250000
2024-07-11 06:21:00   -0.175000
                         ...
2024-07-11 17:55:00   -0.159375
2024-07-11 17:57:00   -0.236250
2024-07-11 18:09:00   -0.342500
2024-07-11 18:53:00   -0.029950
2024-07-11 19:50:00   -0.073889
Name: MPB, Length: 397, dtype: float64

/var/folders/53/hjtlg6wd1lx3zvdfjm6p8mg40000gn/T/ipykernel_16514/4133245255.py:3: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  trade['datetime'] = pd.to_datetime(trade['datetime']).dt.floor('T')
/var/folders/53/hjtlg6wd1lx3zvdfjm6p8mg40000gn/T/ipykernel_16514/4133245255.py:7: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  lob['datetime'] = pd.to_datetime(lob['datetime']).dt.floor('T')

In [106]:
# Weighted Volume

def compute_weighted_volume(entries):
    levels = entries.split('|')
    volumes = [float(level.split(',')[1]) for level in levels]  # Consider all available levels
    total_levels = len(volumes)
    weights = [1 - (i - 1) / total_levels for i in range(1, total_levels + 1)]  
    weighted_volume = sum(w * v for w, v in zip(weights, volumes)) / sum(weights)
    return weighted_volume

lob['weighted_bid_volume'] = lob['bids'].apply(compute_weighted_volume)
lob['weighted_ask_volume'] = lob['asks'].apply(compute_weighted_volume)

In [108]:
# Volume Order Imbalance

def delta_VWB(row, previous_row):
    if row['bid1'] < previous_row['bid1']:
        return 0
    elif row['bid1'] == previous_row['bid1']:
        return row['weighted_bid_volume'] - previous_row['weighted_bid_volume']
    else:
        return row['weighted_bid_volume']

def delta_VWA(row, previous_row):
    if row['ask1'] > previous_row['ask1']:
        return 0
    elif row['ask1'] == previous_row['ask1']:
        return row['weighted_ask_volume'] - previous_row['weighted_ask_volume']
    else:
        return row['weighted_ask_volume']

lob['delta_VWB'] = 0
lob['delta_VWA'] = 0

for i in range(1, len(lob)):
    lob.loc[i, 'delta_VWB'] = delta_VWB(lob.loc[i], lob.loc[i-1])
    lob.loc[i, 'delta_VWA'] = delta_VWA(lob.loc[i], lob.loc[i-1])

lob['VOI'] = lob['delta_VWB'] - lob['delta_VWA']

print(lob['VOI'])

/var/folders/53/hjtlg6wd1lx3zvdfjm6p8mg40000gn/T/ipykernel_16514/2309370554.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '28.666666666666668' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  lob.loc[i, 'delta_VWA'] = delta_VWA(lob.loc[i], lob.loc[i-1])
/var/folders/53/hjtlg6wd1lx3zvdfjm6p8mg40000gn/T/ipykernel_16514/2309370554.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-24.799999999999997' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  lob.loc[i, 'delta_VWB'] = delta_VWB(lob.loc[i], lob.loc[i-1])

0          0.000000
1        -28.666667
2        -22.533333
3          4.000000
4        -78.600000
            ...
12772    -10.722581
12773      0.000000
12774    -31.329032
12775   -122.021581
12776    315.307602
Name: VOI, Length: 12777, dtype: float64

In [109]:
# Order Imbalance Ratio

lob['OIR'] = (lob['weighted_bid_volume'] - lob['weighted_ask_volume']) / \
             (lob['weighted_bid_volume'] + lob['weighted_ask_volume'])
print(lob['OIR'])

0        0.428571
1        0.554404
2        0.322751
3        0.340206
4        0.139102
           ...
12772   -0.749821
12773   -0.749821
12774   -0.806077
12775   -0.909825
12776   -0.844517
Name: OIR, Length: 12777, dtype: float64

In [110]:
# Step Order Imbalance Ratio

def extract_levels(entries):
    levels = entries.split('|')
    prices_volumes = [(float(level.split(',')[0]), float(level.split(',')[1])) for level in levels]
    return prices_volumes

lob['bid_levels'] = lob['bids'].apply(extract_levels)
lob['ask_levels'] = lob['asks'].apply(extract_levels)

def compute_soir(bid_levels, ask_levels):
    soirs = []
    num_levels = min(len(bid_levels), len(ask_levels))  # 获取买卖方的最小层级数
    for i in range(num_levels):
        V_B_i_t = bid_levels[i][1]  # 买方的量
        V_A_i_t = ask_levels[i][1]  # 卖方的量
        if V_B_i_t + V_A_i_t == 0:
            soirs.append(0)  # 避免除以零的情况
        else:
            soirs.append((V_B_i_t - V_A_i_t) / (V_B_i_t + V_A_i_t))
    return soirs, num_levels

lob['SOIR_levels'], lob['num_levels'] = zip(*lob.apply(lambda row: compute_soir(row['bid_levels'], row['ask_levels']), axis=1))

def compute_weighted_soir(soirs, num_levels):
    weights = [1 - (i-1)/num_levels for i in range(1, num_levels+1)]  # 动态计算权重
    weighted_soir = sum(w * soir for w, soir in zip(weights, soirs)) / sum(weights)
    return weighted_soir

lob['SOIR'] = lob.apply(lambda row: compute_weighted_soir(row['SOIR_levels'], row['num_levels']), axis=1)

print(lob['SOIR'])

0        0.428571
1        0.626016
2        0.455865
3        0.467285
4        0.123567
           ...
12772   -0.382319
12773   -0.382319
12774   -0.501478
12775   -0.625838
12776   -0.400918
Name: SOIR, Length: 12777, dtype: float64

In [111]:
# Illiquidity

trade['Shortcut'] = 2 * (trade['high'] - trade['low']) - abs(trade['price'] - trade['open'])

trade = trade.dropna().reset_index(drop=True)

def calculate_illiq(df, p):
    df['ShortCut'] = df['Shortcut'].fillna(0)  
    df['Value'] = df['turnover']  
    grouped = df.resample(f'{p}T', on='datetime').agg({
        'ShortCut': 'sum',  
        'Value': 'sum'  
    }).reset_index()
    grouped['ILLIQ'] = grouped['ShortCut'] / grouped['Value']
    illiq_avg = grouped['ILLIQ'].mean()
    return illiq_avg
    
# Calculate for 5 minute and 15 minutes
illiq_5min = calculate_illiq(trade, 5)
print(illiq_5min)

illiq_15min = calculate_illiq(trade, 15)
print(illiq_15min)

1.002900355542801e-06
9.712581861100974e-07

/var/folders/53/hjtlg6wd1lx3zvdfjm6p8mg40000gn/T/ipykernel_16514/677437005.py:10: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  grouped = df.resample(f'{p}T', on='datetime').agg({
/var/folders/53/hjtlg6wd1lx3zvdfjm6p8mg40000gn/T/ipykernel_16514/677437005.py:10: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  grouped = df.resample(f'{p}T', on='datetime').agg({